.impowerBox .qrcode {width: 220px}
.impowerBox .title {display: none !important}
.impowerBox .info {width: 220px}
.status_icon, #wx_default_tip p, #wx_default_tip .status_txt, .status_txt p, .status_txt h4 {display:none !important}
.impowerBox .status {text-align: center;} 
#wx_default_tip, #wx_after_scan, #wx_after_cancel {vertical-align: middle; font-size:12px; color:#8b8b8b}
#wx_default_tip:after {content:"请使用微信扫描二维码登录JOOX";font-size:14px}
#wx_after_scan .status_txt, #wx_after_cancel .status_txt {display: block !important; color:#434343;font-size:14px}
#wx_after_scan .status_txt:after {content:"扫描成功";font-size:16px}
#wx_after_scan:after {content:"请在微信中点击确认以登录"}
#wx_after_cancel .status_txt:after {content:"你已取消此次登录"}
#wx_after_cancel:after {content:"你可以再次扫描二维码登录，或关闭窗口"}
