@-webkit-keyframes r {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); }
}
@-webkit-keyframes c1 {
  from { background-color: #333; }
  50% { background-color: #c30; }
  to { background-color: #333; }
}
@-webkit-keyframes c2 {
  from { background-color: #c30; }
  50% { background-color: #333; }
  to { background-color: #c30; }
}

@-moz-keyframes r {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); }
}
@-moz-keyframes c1 {
  from { background-color: #333; }
  50% { background-color: #c30; }
  to { background-color: #333; }
}
@-moz-keyframes c2 {
  from { background-color: #c30; }
  50% { background-color: #333; }
  to { background-color: #c30; }
}

@-o-keyframes r {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(-360deg); }
}
@-o-keyframes c1 {
  from { background-color: #333; }
  50% { background-color: #c30; }
  to { background-color: #333; }
}
@-o-keyframes c2 {
  from { background-color: #c30; }
  50% { background-color: #333; }
  to { background-color: #c30; }
}

@keyframes r {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes c1 {
  from { background-color: #333; }
  50% { background-color: #c30; }
  to { background-color: #333; }
}
@keyframes c2 {
  from { background-color: #c30; }
  50% { background-color: #333; }
  to { background-color: #c30; }
}

.yinyang {
  width:360px; height: 360px;
  overflow: hidden;
	margin: 64px auto;
}

.yinyang, #svgelem {

  -webkit-animation-name: r; 
  -webkit-animation-duration: 3s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: r; 
  -moz-animation-duration: 3s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -o-animation-name: r; 
  -o-animation-duration: 3s; 
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

  animation-name: r; 
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.yin, .yang {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

.yin {
  background-color: #333;
  -webkit-border-radius: 180px 0 0 180px;
  -moz-border-radius: 180px 0 0 180px;
  border-radius: 180px 0 0 180px;
}

.yin, .yinc, .yangd {
  -webkit-animation-name: c1; 
  -webkit-animation-duration: 3s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;

  -moz-animation-name: c1; 
  -moz-animation-duration: 3s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in;

  -o-animation-name: c1; 
  -o-animation-duration: 3s; 
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in;

  animation-name: c1; 
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.yang, .yangc, .yind {
  -webkit-animation-name: c2; 
  -webkit-animation-duration: 3s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;

  -moz-animation-name: c2; 
  -moz-animation-duration: 3s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in;

  -o-animation-name: c2; 
  -o-animation-duration: 3s; 
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-in;

  animation-name: c2; 
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.yang {
  background-color: #c30;
  -webkit-border-radius: 0 180px 180px 0;
  border-radius: 0 180px 180px 0;
}

.yinc {
  width: 100%;
  height: 50%;
  background-color: #333;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 11;
}

.yangc {
  width: 100%;
  height: 50%;
  background-color: #c30;
  -webkit-border-radius: 50%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 9;
}

.yind {
  width: 25%;
  height: 25%;
  background-color: #c30;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12.5%;
  margin-top: -12.5%;
}

.yangd {
  width: 25%;
  height: 25%;
  background-color: #333;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12.5%;
  margin-top: -12.5%;
}
